<connectionStrings>
  <add name="Sqlite_InMemory" providerName="System.Data.SQLite" connectionString="Data Source=:memory:;Version=3;New=True"/>
  <add name="MySql" connectionString="connection timeout=15;user id=root;password=letmein;port=3306;server=localhost;database=catnap_test" />
</connectionStrings>